html {
  font-family: sans-serif;
}

h2 {
  font-family: Lobster, cursive;
}

.masthead {
  background-color: #ec97c0;
  border-bottom: 5px solid #f8deeb;
  border-top: 5px solid #f8deeb;
  color: #fff;
}

.logo {
  text-align: center;
  font-family: Lobster, cursive;
}

.nav {
  text-align: center;
}

.nav a {
  text-decoration: none;
  color: #fff;
  background-color: #ec97c0;
  border: 3px solid #ec97c0;
  border-radius: 8px;
}

.nav a:hover {
  color: #ec97c0;
  background-color: #f8deeb;
  border-color: #f8deeb;
  border-width: 3px;
}

.banner {
  color: #fff;
  background-image: linear-gradient(to bottom, transparent, rgba(236, 151, 192, 0), rgba(236, 151, 192, 5)), url("../images/banner.jpg");
  border-bottom: solid 3px #f8deeb;
  background-position: bottom;
  background-size: cover;
}

.banner-content {
  background-image: url("../images/cupcake.svg");
  background-repeat: no-repeat;
  background-position: left 50%;
  background-size: 100px;
  padding-top: 300px;

}

.menu {
  background-color: #f8deeb;
  border-bottom: 5px solid #f8deeb;
}

.icon {
  display: inline-block;
  width: 100%;
  height: auto;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.card {
  cursor: pointer;
  display: inline-block;
  background-color: #ec97c0;
  border-radius: 8px;
  border: 3px solid #ec97c0;
  color: white;
  text-decoration: none;
  width: 100%;
}

.card:hover {
  background-color: #f8deeb;
}

.about {
  background-color: #ec97c0;
  color: white;
  border-bottom: 5px solid #f8deeb;
}

.contact {
  background-color: #f8deeb;
  color: #ec97c0;
  background-image: url("../images/cupcakeicon.svg");
  background-size: 70px;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
}

.location {
  background-color: #f8deeb;
  color: #ec97c0;
  border-bottom: 5px solid #f8deeb;
}

.hours {
  background-color: #ec97c0;
  color: white;
  border-bottom: 5px solid #f8deeb;
}

.btn {
  background-color: #ec97c0;
  border-color: #ec97c0;
  color: #fff;
}

.btn:hover {
  color: #ec97c0;
  background-color: #f8deeb;
  border-color: #f8deeb;

}

.gallary {
  margin: 0;
  border-bottom: 5px solid #f8deeb;
}

.footer {
  background-color: #ec97c0;
  color: white;
}

@media only screen and (min-width: 60em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

}
